@import 'globals';

.du {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    // align-content: stretch;
    // align-items: stretch;
    // justify-content: space-between;
}

.tools {
    flex-shrink: 0;
    margin: 8px 8px 0 8px;

    display: flex;
    flex-direction: column;
}

.tools>div {
    display: flex;
    flex-direction: row;
}

.tools>.buttons {
    flex-wrap: wrap;
}

.tools>.dir {
    overflow-x: auto;
}

.tools>.dir>.folder {
    margin: 6px;
}

.tools>.dir>i {
    margin: 10px 0;
}

.space {
    flex: 1 0;
    margin: 8px;
    background: #fff;
    
    position: relative;
    // overflow: hidden;
    @include md-box-shadow(1);
}

.block {
    position: absolute;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);

    // overflow: hidden;
}

// .block[class~=selected] {
    
// }

// .block:hover {
//     background-color: rgba(0, 0, 0, 0.1);
// }

.block>.text {
    position: absolute;
    top: calc(50% - 8px);
    left: 0;
    right: 0;
    height: 16px;

    font-size: 8px;
    line-height: 16px;      //使之垂直居中
    text-align: center;
}

.block>.child+.text {
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;

    padding: 0 4px;
    text-align: left;
}

.block>.child {
    position: absolute;
    top: 16px;
    bottom: 0;
    left: 0;
    right: 0;
}

.folder {
    background-color: blanchedalmond;
}
.folder:hover {
    background-color: rgb(255, 217, 112);
}

.file {
    background-color: aliceblue;
}
.file:hover {
    background-color: rgb(202, 219, 255);
}